index.html { 
    color:crimson;
    background-color:blue;
}
firstmainframe.html { 
    color:paleturquoise;
    background-color:pink;
}    
ENIACmainframe.html { 
    color:lawngreen;
    background-color:rgb(208, 255, 0);
}    
COBOLprogramming.html { 
    color:violet;
    background-color:lightcoral;
}
mainframevendors.html { 
    color:hotpink;
    background-color:plum;
}
linux-basedmainframe.html { 
    color:aquamarine;
    background-color:palevioletred;
}