.homepage { 
    color:crimson;
    background-color:lightskyblue;
}
.firstmainframe { 
    color:paleturquoise;
    background-color:pink;
}    
.ENIACMainframe{ 
    color:rgb(208, 255, 0);
    background-color:lawngreen;
}    
.COBOL { 
    color:violet;
    background-color:lightcoral;
}
.IBM { 
    color:hotpink;
    background-color:plum;
}
.linux { 
    color:aquamarine;
    background-color:palevioletred;
}
h1 {
    font-size:48px;
    text-align:center;
}
h1 + img {
    display:block;
    margin-right:auto;
    margin-left:auto;
}